In [1]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')

# Membuat/mengakses database
db = client['company_db']

# Membuat/mengakses collection
collection = db['employees']

# Verifikasi koneksi
try:
    # Ping database untuk memastikan koneksi berhasil
    client.admin.command('ping')
    print('✓ Connected to MongoDB successfully!')
    print(f'Database: {db.name}')
    print(f'Collection: {collection.name}')
except Exception as e:
    print(f'✗ Connection failed: {e}')

✓ Connected to MongoDB successfully!
Database: company_db
Collection: employees

In [2]:
# Insert satu dokumen
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500,
    'position': 'Financial Analyst',
    'hire_date': '2020-03-15'
}

result = collection.insert_one(employee_data)
print(f'✓ Data inserted with ID: {result.inserted_id}')

# Insert beberapa dokumen sekaligus
employees_list = [
    {
        'name': 'Bob',
        'department': 'IT',
        'age': 32,
        'salary': 5500,
        'position': 'Software Engineer',
        'hire_date': '2019-01-10'
    },
    {
        'name': 'Charlie',
        'department': 'HR',
        'age': 28,
        'salary': 4000,
        'position': 'HR Manager',
        'hire_date': '2021-06-20'
    },
    {
        'name': 'Diana',
        'department': 'IT',
        'age': 26,
        'salary': 5000,
        'position': 'DevOps Engineer',
        'hire_date': '2022-02-14'
    },
    {
        'name': 'Edward',
        'department': 'Finance',
        'age': 35,
        'salary': 6000,
        'position': 'Senior Accountant',
        'hire_date': '2018-11-05'
    },
    {
        'name': 'Fiona',
        'department': 'Marketing',
        'age': 24,
        'salary': 3800,
        'position': 'Marketing Specialist',
        'hire_date': '2023-04-01'
    },
    {
        'name': 'George',
        'department': 'IT',
        'age': 30,
        'salary': 5800,
        'position': 'System Administrator',
        'hire_date': '2020-08-12'
    },
    {
        'name': 'Hannah',
        'department': 'HR',
        'age': 27,
        'salary': 4200,
        'position': 'Recruitment Specialist',
        'hire_date': '2021-09-30'
    },
    {
        'name': 'Ivan',
        'department': 'Finance',
        'age': 23,
        'salary': 3500,
        'position': 'Junior Accountant',
        'hire_date': '2024-01-15'
    },
    {
        'name': 'Julia',
        'department': 'Marketing',
        'age': 31,
        'salary': 5200,
        'position': 'Marketing Manager',
        'hire_date': '2019-07-22'
    }
]

result_many = collection.insert_many(employees_list)
print(f'✓ {len(result_many.inserted_ids)} documents inserted')

✓ Data inserted with ID: 690b0e711a4d448272c3a0e2
✓ 9 documents inserted

In [3]:
print("=" * 60)
print("SEMUA DATA KARYAWAN:")
print("=" * 60)

# Menampilkan semua data
for employee in collection.find():
    print(f"Name: {employee['name']:<15} | "
          f"Dept: {employee['department']:<12} | "
          f"Age: {employee['age']:<3} | "
          f"Salary: ${employee['salary']:,}")

print("\n" + "=" * 60)
print("KARYAWAN DEPARTMENT IT:")
print("=" * 60)

# Query dengan filter
it_employees = collection.find({'department': 'IT'})
for emp in it_employees:
    print(f"{emp['name']} - {emp['position']}")

print("\n" + "=" * 60)
print("KARYAWAN DENGAN GAJI > $5000:")
print("=" * 60)

# Query dengan operator
high_salary = collection.find({'salary': {'$gt': 5000}})
for emp in high_salary:
    print(f"{emp['name']} - ${emp['salary']:,}")

============================================================
SEMUA DATA KARYAWAN:
============================================================
Name: Alice           | Dept: Finance      | Age: 29  | Salary: $4,800
Name: Bob             | Dept: IT           | Age: 32  | Salary: $6,000
Name: Charlie         | Dept: HR           | Age: 28  | Salary: $4,000
Name: Diana           | Dept: IT           | Age: 26  | Salary: $5,500
Name: Edward          | Dept: Finance      | Age: 35  | Salary: $6,000
Name: Fiona           | Dept: Marketing    | Age: 24  | Salary: $3,800
Name: George          | Dept: IT           | Age: 30  | Salary: $6,300
Name: Hannah          | Dept: HR           | Age: 27  | Salary: $4,200
Name: Ivan            | Dept: Finance      | Age: 23  | Salary: $3,500
Name: Julia           | Dept: Marketing    | Age: 31  | Salary: $5,200
Name: Alice           | Dept: Finance      | Age: 29  | Salary: $4,500
Name: Bob             | Dept: IT           | Age: 32  | Salary: $5,500
Name: Charlie         | Dept: HR           | Age: 28  | Salary: $4,000
Name: Diana           | Dept: IT           | Age: 26  | Salary: $5,000
Name: Edward          | Dept: Finance      | Age: 35  | Salary: $6,000
Name: Fiona           | Dept: Marketing    | Age: 24  | Salary: $3,800
Name: George          | Dept: IT           | Age: 30  | Salary: $5,800
Name: Hannah          | Dept: HR           | Age: 27  | Salary: $4,200
Name: Ivan            | Dept: Finance      | Age: 23  | Salary: $3,500
Name: Julia           | Dept: Marketing    | Age: 31  | Salary: $5,200

============================================================
KARYAWAN DEPARTMENT IT:
============================================================
Bob - Software Engineer
Diana - DevOps Engineer
George - System Administrator
Bob - Software Engineer
Diana - DevOps Engineer
George - System Administrator

============================================================
KARYAWAN DENGAN GAJI > $5000:
============================================================
Bob - $6,000
Diana - $5,500
Edward - $6,000
George - $6,300
Julia - $5,200
Bob - $5,500
Edward - $6,000
George - $5,800
Julia - $5,200

In [3]:
# Update satu dokumen
update_result = collection.update_one(
    {'name': 'Alice'},  # Filter
    {'$set': {'salary': 4800, 'position': 'Senior Financial Analyst'}}  # Update
)
print(f'✓ Matched: {update_result.matched_count}, Modified: {update_result.modified_count}')

# Update banyak dokumen
update_many_result = collection.update_many(
    {'department': 'IT'},  # Filter: semua karyawan IT
    {'$inc': {'salary': 500}}  # Increment: tambah gaji $500
)
print(f'✓ {update_many_result.modified_count} IT employees got salary increase')

# Verifikasi update
print("\nData Alice setelah update:")
alice = collection.find_one({'name': 'Alice'})
print(f"Position: {alice['position']}, Salary: ${alice['salary']:,}")

NameError: name 'collection' is not defined

In [2]:
# Delete satu dokumen
delete_result = collection.delete_one({'name': 'Ivan'})
print(f'✓ Deleted: {delete_result.deleted_count} document')

# Delete banyak dokumen
delete_many_result = collection.delete_many({'age': {'$lt': 25}})
print(f'✓ Deleted: {delete_many_result.deleted_count} employees under 25 years old')

# Hitung total dokumen tersisa
total_employees = collection.count_documents({})
print(f'Total employees remaining: {total_employees}')

NameError: name 'collection' is not defined