In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [4]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')

# Membuat/mengakses database
db = client['company_db']

# Membuat/mengakses collection
collection = db['employees']

# Verifikasi koneksi
try:
    # Ping database untuk memastikan koneksi berhasil
    client.admin.command('ping')
    print('✓ Connected to MongoDB successfully!')
    print(f'Database: {db.name}')
    print(f'Collection: {collection.name}')
except Exception as e:
    print(f'✗ Connection failed: {e}')

✓ Connected to MongoDB successfully!
Database: company_db
Collection: employees

In [3]:
# Insert satu dokumen
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500,
    'position': 'Financial Analyst',
    'hire_date': '2020-03-15'
}

result = collection.insert_one(employee_data)
print(f'✓ Data inserted with ID: {result.inserted_id}')

# Insert beberapa dokumen sekaligus
employees_list = [
    {
        'name': 'Bob',
        'department': 'IT',
        'age': 32,
        'salary': 5500,
        'position': 'Software Engineer',
        'hire_date': '2019-01-10'
    },
    {
        'name': 'Charlie',
        'department': 'HR',
        'age': 28,
        'salary': 4000,
        'position': 'HR Manager',
        'hire_date': '2021-06-20'
    },
    {
        'name': 'Diana',
        'department': 'IT',
        'age': 26,
        'salary': 5000,
        'position': 'DevOps Engineer',
        'hire_date': '2022-02-14'
    },
    {
        'name': 'Edward',
        'department': 'Finance',
        'age': 35,
        'salary': 6000,
        'position': 'Senior Accountant',
        'hire_date': '2018-11-05'
    },
    {
        'name': 'Fiona',
        'department': 'Marketing',
        'age': 24,
        'salary': 3800,
        'position': 'Marketing Specialist',
        'hire_date': '2023-04-01'
    },
    {
        'name': 'George',
        'department': 'IT',
        'age': 30,
        'salary': 5800,
        'position': 'System Administrator',
        'hire_date': '2020-08-12'
    },
    {
        'name': 'Hannah',
        'department': 'HR',
        'age': 27,
        'salary': 4200,
        'position': 'Recruitment Specialist',
        'hire_date': '2021-09-30'
    },
    {
        'name': 'Ivan',
        'department': 'Finance',
        'age': 23,
        'salary': 3500,
        'position': 'Junior Accountant',
        'hire_date': '2024-01-15'
    },
    {
        'name': 'Julia',
        'department': 'Marketing',
        'age': 31,
        'salary': 5200,
        'position': 'Marketing Manager',
        'hire_date': '2019-07-22'
    }
]

result_many = collection.insert_many(employees_list)
print(f'✓ {len(result_many.inserted_ids)} documents inserted')

✓ Data inserted with ID: 6902e6a5f9f4d8b182ac62e7
✓ 9 documents inserted

In [5]:
print("=" * 60)
print("SEMUA DATA KARYAWAN:")
print("=" * 60)

# Menampilkan semua data
for employee in collection.find():
    print(f"Name: {employee['name']:<15} | "
          f"Dept: {employee['department']:<12} | "
          f"Age: {employee['age']:<3} | "
          f"Salary: ${employee['salary']:,}")

print("\n" + "=" * 60)
print("KARYAWAN DEPARTMENT IT:")
print("=" * 60)

# Query dengan filter
it_employees = collection.find({'department': 'IT'})
for emp in it_employees:
    print(f"{emp['name']} - {emp['position']}")

print("\n" + "=" * 60)
print("KARYAWAN DENGAN GAJI > $5000:")
print("=" * 60)

# Query dengan operator
high_salary = collection.find({'salary': {'$gt': 5000}})
for emp in high_salary:
    print(f"{emp['name']} - ${emp['salary']:,}")

============================================================
SEMUA DATA KARYAWAN:
============================================================
Name: Alice           | Dept: Finance      | Age: 29  | Salary: $4,800
Name: Bob             | Dept: IT           | Age: 32  | Salary: $7,500
Name: Charlie         | Dept: HR           | Age: 28  | Salary: $4,000
Name: Diana           | Dept: IT           | Age: 26  | Salary: $7,000
Name: Edward          | Dept: Finance      | Age: 35  | Salary: $6,000
Name: George          | Dept: IT           | Age: 30  | Salary: $7,800
Name: Hannah          | Dept: HR           | Age: 27  | Salary: $4,200
Name: Julia           | Dept: Marketing    | Age: 31  | Salary: $5,200
Name: Alice           | Dept: Finance      | Age: 29  | Salary: $4,500
Name: Bob             | Dept: IT           | Age: 32  | Salary: $7,000
Name: Charlie         | Dept: HR           | Age: 28  | Salary: $4,000
Name: Diana           | Dept: IT           | Age: 26  | Salary: $6,500
Name: Edward          | Dept: Finance      | Age: 35  | Salary: $6,000
Name: George          | Dept: IT           | Age: 30  | Salary: $7,300
Name: Hannah          | Dept: HR           | Age: 27  | Salary: $4,200
Name: Julia           | Dept: Marketing    | Age: 31  | Salary: $5,200
Name: Alice           | Dept: Finance      | Age: 29  | Salary: $4,500
Name: Bob             | Dept: IT           | Age: 32  | Salary: $6,500
Name: Charlie         | Dept: HR           | Age: 28  | Salary: $4,000
Name: Diana           | Dept: IT           | Age: 26  | Salary: $6,000
Name: Edward          | Dept: Finance      | Age: 35  | Salary: $6,000
Name: George          | Dept: IT           | Age: 30  | Salary: $6,800
Name: Hannah          | Dept: HR           | Age: 27  | Salary: $4,200
Name: Julia           | Dept: Marketing    | Age: 31  | Salary: $5,200
Name: Alice           | Dept: Finance      | Age: 29  | Salary: $4,500
Name: Bob             | Dept: IT           | Age: 32  | Salary: $6,000
Name: Charlie         | Dept: HR           | Age: 28  | Salary: $4,000
Name: Diana           | Dept: IT           | Age: 26  | Salary: $5,500
Name: Edward          | Dept: Finance      | Age: 35  | Salary: $6,000
Name: George          | Dept: IT           | Age: 30  | Salary: $6,300
Name: Hannah          | Dept: HR           | Age: 27  | Salary: $4,200
Name: Julia           | Dept: Marketing    | Age: 31  | Salary: $5,200

============================================================
KARYAWAN DEPARTMENT IT:
============================================================
Bob - Software Engineer
Diana - DevOps Engineer
George - System Administrator
Bob - Software Engineer
Diana - DevOps Engineer
George - System Administrator
Bob - Software Engineer
Diana - DevOps Engineer
George - System Administrator
Bob - Software Engineer
Diana - DevOps Engineer
George - System Administrator

============================================================
KARYAWAN DENGAN GAJI > $5000:
============================================================
Bob - $7,500
Diana - $7,000
Edward - $6,000
George - $7,800
Julia - $5,200
Bob - $7,000
Diana - $6,500
Edward - $6,000
George - $7,300
Julia - $5,200
Bob - $6,500
Diana - $6,000
Edward - $6,000
George - $6,800
Julia - $5,200
Bob - $6,000
Diana - $5,500
Edward - $6,000
George - $6,300
Julia - $5,200

In [7]:
# Update satu dokumen
update_result = collection.update_one(
    {'name': 'Alice'},  # Filter
    {'$set': {'salary': 4800, 'position': 'Senior Financial Analyst'}}  # Update
)
print(f'✓ Matched: {update_result.matched_count}, Modified: {update_result.modified_count}')

# Update banyak dokumen
update_many_result = collection.update_many(
    {'department': 'IT'},  # Filter: semua karyawan IT
    {'$inc': {'salary': 500}}  # Increment: tambah gaji $500
)
print(f'✓ {update_many_result.modified_count} IT employees got salary increase')

# Verifikasi update
print("\nData Alice setelah update:")
alice = collection.find_one({'name': 'Alice'})
print(f"Position: {alice['position']}, Salary: ${alice['salary']:,}")

✓ Matched: 1, Modified: 0
✓ 12 IT employees got salary increase

Data Alice setelah update:
Position: Senior Financial Analyst, Salary: $4,800

In [8]:
# Delete satu dokumen
delete_result = collection.delete_one({'name': 'Ivan'})
print(f'✓ Deleted: {delete_result.deleted_count} document')

# Delete banyak dokumen
delete_many_result = collection.delete_many({'age': {'$lt': 25}})
print(f'✓ Deleted: {delete_many_result.deleted_count} employees under 25 years old')

# Hitung total dokumen tersisa
total_employees = collection.count_documents({})
print(f'Total employees remaining: {total_employees}')

✓ Deleted: 0 document
✓ Deleted: 0 employees under 25 years old
Total employees remaining: 32

In [9]:
print("=" * 60)
print("RATA-RATA GAJI PER DEPARTEMEN:")
print("=" * 60)

pipeline = [
    {
        '$group': {
            '_id': '$department',
            'average_salary': {'$avg': '$salary'},
            'employee_count': {'$sum': 1}
        }
    },
    {
        '$sort': {'average_salary': -1}
    }
]

for result in collection.aggregate(pipeline):
    print(f"Department: {result['_id']:<12} | "
          f"Avg Salary: ${result['average_salary']:,.2f} | "
          f"Employees: {result['employee_count']}")

============================================================
RATA-RATA GAJI PER DEPARTEMEN:
============================================================
Department: IT           | Avg Salary: $7,683.33 | Employees: 12
Department: Finance      | Avg Salary: $5,287.50 | Employees: 8
Department: Marketing    | Avg Salary: $5,200.00 | Employees: 4
Department: HR           | Avg Salary: $4,100.00 | Employees: 8

In [10]:
# Total dan rata-rata gaji per departemen dengan detail
pipeline_advanced = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'},
            'avg_salary': {'$avg': '$salary'},
            'min_salary': {'$min': '$salary'},
            'max_salary': {'$max': '$salary'},
            'total_employees': {'$sum': 1}
        }
    },
    {
        '$project': {
            'department': '$_id',
            'total_salary': 1,
            'avg_salary': {'$round': ['$avg_salary', 2]},
            'min_salary': 1,
            'max_salary': 1,
            'total_employees': 1,
            '_id': 0
        }
    },
    {
        '$sort': {'total_salary': -1}
    }
]

print("\n" + "=" * 80)
print("ANALISIS LENGKAP GAJI PER DEPARTEMEN:")
print("=" * 80)

for result in collection.aggregate(pipeline_advanced):
    print(f"\nDepartment: {result['department']}")
    print(f"  Total Salary    : ${result['total_salary']:,}")
    print(f"  Average Salary  : ${result['avg_salary']:,}")
    print(f"  Min Salary      : ${result['min_salary']:,}")
    print(f"  Max Salary      : ${result['max_salary']:,}")
    print(f"  Total Employees : {result['total_employees']}")

================================================================================
ANALISIS LENGKAP GAJI PER DEPARTEMEN:
================================================================================

Department: IT
  Total Salary    : $92,200
  Average Salary  : $7,683.33
  Min Salary      : $6,500
  Max Salary      : $8,800
  Total Employees : 12

Department: Finance
  Total Salary    : $42,300
  Average Salary  : $5,287.5
  Min Salary      : $4,500
  Max Salary      : $6,000
  Total Employees : 8

Department: HR
  Total Salary    : $32,800
  Average Salary  : $4,100.0
  Min Salary      : $4,000
  Max Salary      : $4,200
  Total Employees : 8

Department: Marketing
  Total Salary    : $20,800
  Average Salary  : $5,200.0
  Min Salary      : $5,200
  Max Salary      : $5,200
  Total Employees : 4

In [11]:
# Akses collection products
products_collection = db['products']

# Data produk
products_data = [
    {'name': 'Laptop Dell XPS 13', 'category': 'Electronics', 'price': 1200, 'stock': 15},
    {'name': 'iPhone 15 Pro', 'category': 'Electronics', 'price': 1000, 'stock': 25},
    {'name': 'Samsung Galaxy S24', 'category': 'Electronics', 'price': 900, 'stock': 30},
    {'name': 'Office Chair', 'category': 'Furniture', 'price': 250, 'stock': 50},
    {'name': 'Standing Desk', 'category': 'Furniture', 'price': 400, 'stock': 20},
    {'name': 'Mechanical Keyboard', 'category': 'Accessories', 'price': 150, 'stock': 40},
    {'name': 'Wireless Mouse', 'category': 'Accessories', 'price': 50, 'stock': 100},
    {'name': 'Monitor 27"', 'category': 'Electronics', 'price': 350, 'stock': 35},
    {'name': 'USB-C Hub', 'category': 'Accessories', 'price': 80, 'stock': 60},
    {'name': 'Desk Lamp', 'category': 'Furniture', 'price': 45, 'stock': 75},
    {'name': 'Headphones Sony WH-1000XM5', 'category': 'Electronics', 'price': 380, 'stock': 22},
    {'name': 'Webcam Logitech', 'category': 'Accessories', 'price': 120, 'stock': 45}
]

# Insert data
products_collection.insert_many(products_data)
print(f'✓ {len(products_data)} products inserted successfully!')

# Tampilkan semua produk
print("\n" + "=" * 70)
print("DAFTAR PRODUK:")
print("=" * 70)
for product in products_collection.find():
    print(f"{product['name']:<30} | "
          f"Category: {product['category']:<15} | "
          f"Price: ${product['price']:<6} | "
          f"Stock: {product['stock']}")

✓ 12 products inserted successfully!

======================================================================
DAFTAR PRODUK:
======================================================================
Laptop Dell XPS 13             | Category: Electronics     | Price: $1200   | Stock: 15
iPhone 15 Pro                  | Category: Electronics     | Price: $1000   | Stock: 25
Samsung Galaxy S24             | Category: Electronics     | Price: $900    | Stock: 30
Office Chair                   | Category: Furniture       | Price: $250    | Stock: 50
Standing Desk                  | Category: Furniture       | Price: $400    | Stock: 20
Mechanical Keyboard            | Category: Accessories     | Price: $150    | Stock: 40
Wireless Mouse                 | Category: Accessories     | Price: $50     | Stock: 100
Monitor 27"                    | Category: Electronics     | Price: $350    | Stock: 35
USB-C Hub                      | Category: Accessories     | Price: $80     | Stock: 60
Desk Lamp                      | Category: Furniture       | Price: $45     | Stock: 75
Headphones Sony WH-1000XM5     | Category: Electronics     | Price: $380    | Stock: 22
Webcam Logitech                | Category: Accessories     | Price: $120    | Stock: 45

In [12]:
# Hitung rata-rata harga
pipeline_avg = [
    {
        '$group': {
            '_id': None,
            'average_price': {'$avg': '$price'}
        }
    }
]

avg_result = list(products_collection.aggregate(pipeline_avg))
avg_price = avg_result[0]['average_price']

print(f"\nRata-rata harga produk: ${avg_price:.2f}")

# Cari produk dengan harga di atas rata-rata
print("\n" + "=" * 70)
print("PRODUK DENGAN HARGA DI ATAS RATA-RATA:")
print("=" * 70)

above_avg = products_collection.find({'price': {'$gt': avg_price}})
for product in above_avg:
    print(f"{product['name']:<30} | ${product['price']:,}")

Rata-rata harga produk: $410.42

======================================================================
PRODUK DENGAN HARGA DI ATAS RATA-RATA:
======================================================================
Laptop Dell XPS 13             | $1,200
iPhone 15 Pro                  | $1,000
Samsung Galaxy S24             | $900

In [13]:
pipeline_category = [
    {
        '$group': {
            '_id': '$category',
            'total_products': {'$sum': 1},
            'total_stock': {'$sum': '$stock'},
            'avg_price': {'$avg': '$price'}
        }
    },
    {
        '$sort': {'total_products': -1}
    }
]

print("\n" + "=" * 70)
print("ANALISIS PRODUK PER KATEGORI:")
print("=" * 70)

for result in products_collection.aggregate(pipeline_category):
    print(f"\nCategory: {result['_id']}")
    print(f"  Total Products : {result['total_products']}")
    print(f"  Total Stock    : {result['total_stock']}")
    print(f"  Average Price  : ${result['avg_price']:.2f}")

======================================================================
ANALISIS PRODUK PER KATEGORI:
======================================================================

Category: Electronics
  Total Products : 5
  Total Stock    : 127
  Average Price  : $766.00

Category: Accessories
  Total Products : 4
  Total Stock    : 245
  Average Price  : $100.00

Category: Furniture
  Total Products : 3
  Total Stock    : 145
  Average Price  : $231.67

In [14]:
print("=" * 80)
print("TOP 5 KARYAWAN DENGAN GAJI TERTINGGI PER DEPARTEMEN:")
print("=" * 80)

pipeline_top_salary = [
    {
        '$sort': {'salary': -1}
    },
    {
        '$group': {
            '_id': '$department',
            'top_employees': {
                '$push': {
                    'name': '$name',
                    'position': '$position',
                    'salary': '$salary',
                    'age': '$age'
                }
            }
        }
    },
    {
        '$project': {
            'department': '$_id',
            'top_5_employees': {'$slice': ['$top_employees', 5]},
            '_id': 0
        }
    }
]

for dept in collection.aggregate(pipeline_top_salary):
    print(f"\nDepartment: {dept['department']}")
    print("-" * 70)
    for idx, emp in enumerate(dept['top_5_employees'], 1):
        print(f"  {idx}. {emp['name']:<20} | "
              f"{emp['position']:<25} | "
              f"${emp['salary']:,}")

================================================================================
TOP 5 KARYAWAN DENGAN GAJI TERTINGGI PER DEPARTEMEN:
================================================================================

Department: Finance
----------------------------------------------------------------------
  1. Edward               | Senior Accountant         | $6,000
  2. Edward               | Senior Accountant         | $6,000
  3. Edward               | Senior Accountant         | $6,000
  4. Edward               | Senior Accountant         | $6,000
  5. Alice                | Senior Financial Analyst  | $4,800

Department: IT
----------------------------------------------------------------------
  1. George               | System Administrator      | $8,800
  2. Bob                  | Software Engineer         | $8,500
  3. George               | System Administrator      | $8,300
  4. Diana                | DevOps Engineer           | $8,000
  5. Bob                  | Software Engineer         | $8,000

Department: HR
----------------------------------------------------------------------
  1. Hannah               | Recruitment Specialist    | $4,200
  2. Hannah               | Recruitment Specialist    | $4,200
  3. Hannah               | Recruitment Specialist    | $4,200
  4. Hannah               | Recruitment Specialist    | $4,200
  5. Charlie              | HR Manager                | $4,000

Department: Marketing
----------------------------------------------------------------------
  1. Julia                | Marketing Manager         | $5,200
  2. Julia                | Marketing Manager         | $5,200
  3. Julia                | Marketing Manager         | $5,200
  4. Julia                | Marketing Manager         | $5,200

In [15]:
print("\n" + "=" * 80)
print("MENGHAPUS KARYAWAN BERUSIA DI BAWAH 25 TAHUN:")
print("=" * 80)

# Tampilkan data yang akan dihapus
print("\nKaryawan yang akan dihapus:")
employees_to_delete = collection.find({'age': {'$lt': 25}})
for emp in employees_to_delete:
    print(f"  - {emp['name']} (Age: {emp['age']}, Department: {emp['department']})")

# Konfirmasi dan hapus
delete_count = collection.count_documents({'age': {'$lt': 25}})
if delete_count > 0:
    result = collection.delete_many({'age': {'$lt': 25}})
    print(f"\n✓ Successfully deleted {result.deleted_count} employees")
else:
    print("\n✓ No employees under 25 years old found")

# Tampilkan jumlah karyawan tersisa
remaining = collection.count_documents({})
print(f"Total employees remaining: {remaining}")

================================================================================
MENGHAPUS KARYAWAN BERUSIA DI BAWAH 25 TAHUN:
================================================================================

Karyawan yang akan dihapus:

✓ No employees under 25 years old found
Total employees remaining: 32

In [16]:
print("\n" + "=" * 80)
print("LAPORAN RINGKAS DEPARTEMEN:")
print("=" * 80)

pipeline_summary = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'},
            'average_age': {'$avg': '$age'},
            'employee_count': {'$sum': 1},
            'min_age': {'$min': '$age'},
            'max_age': {'$max': '$age'}
        }
    },
    {
        '$project': {
            'department': '$_id',
            'total_salary': 1,
            'average_age': {'$round': ['$average_age', 1]},
            'employee_count': 1,
            'min_age': 1,
            'max_age': 1,
            '_id': 0
        }
    },
    {
        '$sort': {'total_salary': -1}
    }
]

print(f"\n{'Department':<15} | {'Total Salary':<15} | "
      f"{'Avg Age':<10} | {'Employees':<10} | {'Age Range':<15}")
print("-" * 80)

for dept in collection.aggregate(pipeline_summary):
    print(f"{dept['department']:<15} | "
          f"${dept['total_salary']:>13,} | "
          f"{dept['average_age']:>8.1f} | "
          f"{dept['employee_count']:>10} | "
          f"{dept['min_age']}-{dept['max_age']}")

# Total keseluruhan
total_pipeline = [
    {
        '$group': {
            '_id': None,
            'grand_total_salary': {'$sum': '$salary'},
            'overall_avg_age': {'$avg': '$age'},
            'total_employees': {'$sum': 1}
        }
    }
]

grand_total = list(collection.aggregate(total_pipeline))[0]
print("=" * 80)
print(f"{'TOTAL':<15} | "
      f"${grand_total['grand_total_salary']:>13,} | "
      f"{grand_total['overall_avg_age']:>8.1f} | "
      f"{grand_total['total_employees']:>10}")

================================================================================
LAPORAN RINGKAS DEPARTEMEN:
================================================================================

Department      | Total Salary    | Avg Age    | Employees  | Age Range
--------------------------------------------------------------------------------
IT              | $       92,200 |     29.3 |         12 | 26-32
Finance         | $       42,300 |     32.0 |          8 | 29-35
HR              | $       32,800 |     27.5 |          8 | 27-28
Marketing       | $       20,800 |     31.0 |          4 | 31-31
================================================================================
TOTAL           | $      188,100 |     29.8 |         32

In [17]:
# sss

In [19]:
# AND condition
result = collection.find({
    'department': 'IT',
    'salary': {'$gte': 5000}
})

# OR condition
result = collection.find({
    '$or': [
        {'department': 'IT'},
        {'department': 'Finance'}
    ]
})